@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

body {
	background-color: rgb(40, 41, 43);
	color: antiquewhite;
	font-family: "Source Code Pro", sans-serif;
}
h1 {
	font-size: 22px;
}
